<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<style type="text/css">
</style>
	<div>
		<div id="container_sex" style="height:200px;" crossorigin="Anonymous">
		    <div class="datagrid-empty" style="top: 32px;">请选择一个实验组...</div>
		</div>
		<div id="container_age" style="height:250px;" crossorigin="Anonymous">
		</div>
		<input type="hidden" id="select_groupid_hidden" value="#(groupid)"/>
    </div>
<script type="text/javascript">
$(function() {
	
});
</script>
</body>
</html>